body {
 margin: 0px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#Buttons {
  display: flex;
}

.uiContainer {
}

.ui {

  border: 3px solid #123;
  border-radius: 15px;
  margin: 10px;
  height: 40px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

.ui#currScore {
  height: 100px;
  font-size: 36px;
}

#field {
  width: 800px;
  height: 600px;
  border: 5px dashed black;
}

#target {
  border-radius: 100%;
  background-color: red;
  position: relative;
}
